body {
        background: linear-gradient(120deg, pink, purple);
      }

ul li{
    list-style: none;
    font-size: 20px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(images/dry-clean.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked{
    color: grey;
    text-decoration: line-through;
}
ul li.checked::before{
    background-image: url(images/check.png);
}
ul li span{
    position: absolute;
    right: 8px;
    top: 12px;
    width: 30px;
    height: 30px;
    background-image: url(images/remove.png);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
ul li span:hover{
    background-color:#BA68C8 ;
}